<% if can_sample?(@product) %>
<div class="row">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <label>&nbsp;</label>
    <div>
      <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#sampleSelectModal">Request a Sample</button>
    </div>
  </div>
</div>
<% end %>
