<div data-hook="admin_product_form_sample_markup">
  <%= f.field_container :can_sample, class: ['form-group'] do %>
    <%= f.label :can_sample %>
    <%= f.error_message_on :can_sample %>
    <%= f.check_box :can_sample, class: 'form-control' %>
  <% end %>
</div>
