<div data-hook="admin_product_form_sample_markup">
  <%= f.field_container :is_sample, class: ['form-group'] do %>
    <%= f.label :is_sample %>
    <%= f.error_message_on :is_sample %>
    <%= f.check_box :is_sample, class: 'form-control' %>
  <% end %>
</div>
